@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "FindResult";
    object account = Model != null ? Model.account : null;
}

<h2>FindResult</h2>
@if (account == null)
{
    <p>Not Found</p>
}
else
{
    <table>
        <tbody>
            @foreach(var prop in account.GetType().GetProperties())
            {
                if (true || prop.PropertyType.IsValueType)
                { 
                    <tr>
                        <td>@prop.Name</td>
                        <td>@prop.GetValue(account)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}