@model BrockAllen.MembershipReboot.UserAccount
    @{
        ViewBag.Title = "Success";
    }

    <h2>Registration Success</h2>
    <p>
        Your account has been created but you need to verify your email.
        You should recieve an email shortly at @Model.Email with instructions
        for verifying your account.
    </p>