@model BrockAllen.MembershipReboot.UserAccount

@{
    ViewBag.Title = "FindResult";
}

<h2>FindResult</h2>
@if (Model == null)
{
    <p>Not Found</p>
}
else
{
    @Html.DisplayForModel()
}
<p>
    @Html.ActionLink("Home", "Index", "Home", new{area="UserAccount"}, null)
</p>