@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.SendUsernameReminderInputModel
@{
    ViewBag.Title = "Send Username Reminder";
}

<h2>Send Username Reminder</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Errors")

    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Send Username Reminder</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button>Send Reminder</button>
        </div>
    </fieldset>
}
