@{
    ViewBag.Title = "Confirm";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Confirm Your Registration</legend>
        <p>
            @Html.Label("Re-enter your password")
            @Html.Password("password")
        </p>
        <p>
            <button>Submit</button>
        </p>
    </fieldset>
}