@model Exception
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>
        @Model.ToString()
    </p>
</body>
</html>
