@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

<h2>Registration Success</h2>
<p>
    You should recieve an email shortly at @Model.Email. 
    It will contain instructions to verify your account 
    so that you can login.
</p>
<p>Thanks!</p>