@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangePasswordInputModel
@{
    ViewBag.Title = "Set Password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SendPasswordReset", "ChangePassword"))
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <p>
            Your account does not currently have a password. In order to set one,
            we will send an email to your registered address to confirm the password
            request.
        </p>
        <div class="buttons">
            <button>Send Request</button>
        </div>
    </fieldset>
}
