@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li><a href="~/">Home</a></li>
        @if (this.RenderContext.Context.CurrentUser != null)
        {
            <li><a href="~/Logout">Logout</a></li>
            @*<li><a href="~/ChangePassword">Change Password</a></li>
            <li><a href="~/ChangeUsername">Change Username</a></li>
            <li><a href="~/ChangeEmail">Change Email</a></li>
            <li><a href="~/ChangeMobile">Change Mobile Phone Number</a></li>
            <li><a href="~/Certificate">Configure Client Certificates</a></li>
            <li><a href="~/TwoFactorAuth">Configure Two Factor Authentication</a></li>
            <li><a href="~/LinkedAccount">Manage external provider</a></li>*@
            <li><a href="~/CloseAccount">Close Account</a></li>
        }
        else
        {
            <li><a href="~/Login">Login</a></li>
            @*<li><a href="~/LinkedAccount">Login with external provider</a></li>
            <li><a href="~/SendUsernameReminder">Email Username</a></li>*@
            <li><a href="~/Register">Register</a></li>
            @*<li><a href="~/PasswordReset">Reset Password</a></li>*@
        }
        <li><a href="~/Admin">Admin Account Lookup</a></li>
    </ul>


    @RenderBody()

</body>
</html>
