@model string

@{
    ViewBag.Title = "ChangeRequestSuccess";
}

<h2>Change Email Success</h2>
<p>
    You should recieve an email shortly at @Model.
    It will contain instructions to confirm your email change request.
</p>
<p>Thanks!</p>