@{
    ViewBag.Title = "Cancel";
}

@Html.ValidationSummary()

<h2>Registration Cancelled</h2>
<p>
    Your account has been closed.
    If you would like to re-register click @Html.ActionLink("here", "Index", "Register").
</p>
<p>Thanks!</p>
