@{
    ViewBag.Title = "Reset Request Sent";
}

<h2>Reset Request Sent</h2>
<p>
    You have been sent an email to confirm your request
    to reset your password. Once you have recieved the email
    you can follow the instructions to set a new password.
</p>
<p>Thanks!</p>
