@model bool
@{
    ViewBag.Title = "Confirm";
}

@if (Model)
{
    <h2>Registration Confirmed</h2>
    <p>
        Your account is confirmed. You can now login 
        @Html.ActionLink("here", "Index", "Login").
    </p>
}
else
{
    <h2>Error confirming registration</h2>
    <p>
        There was an error confirming the registration. If you have already confirmed your account
        then you should recieve a confirmation email and should be able to login 
        @Html.ActionLink("here", "Index", "Login").
    </p>
    <p>
        If you would like to re-register click 
        @Html.ActionLink("here", "Index", "Register").
    </p>
}
<p>Thanks!</p>
