@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors")
    @Html.AntiForgeryToken()

    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button>Register</button>
        </div>

    </fieldset>
}

@using (Html.BeginForm("Confirm", "Register", FormMethod.Get))
{
    <fieldset>
        <legend>Confirm</legend>
        <p>
            <label for="id">Key</label>
            <input id="id" name="id" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
}

@using (Html.BeginForm("Cancel", "Register", FormMethod.Get))
{
    <fieldset>
        <legend>Cancel</legend>
        <p>
            <label for="id">Key</label>
            <input id="id" name="id" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
}
