@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

<h2>Registration Success</h2>
@if(true.Equals(ViewData["RequireAccountVerification"])) { 
<p>
    You should recieve an email shortly
    @if(Model != null)
    {
        @: at @Model.Email
    }.
    It will contain instructions to verify your account
    so that you can login.
</p>
}
else
{
    <p>You can now login @Html.ActionLink("here", "Index", "Login").</p>
}
<p>Thanks!</p>
    