@{
    foreach(var prop in this.ViewData.ModelMetadata.Properties)
    {
        if (prop.ShowForDisplay && !prop.IsComplexType)
        {
            <div class="object-display">
                @Html.Label(prop.PropertyName)
                <span id="@ViewData.TemplateInfo.GetFullHtmlFieldId(prop.PropertyName)">
                    @Html.Display(prop.PropertyName)
                </span>
            </div>
        }
    }
}