<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net461" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net461" />
</packages>