@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Confirm";
}

<h2>Registration Confirmed</h2>
<p>
    Your account is confirmed. You can now login 
    <a href="~/Login">here</a>.
</p>
