@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm Registration</h2>
<form method="post">
    <p>
        <label for="pass">Re-Enter your password</label>
        <input type="password" id="pass" name="pass">
    </p>
    <p><button>Confirm</button></p>
</form>
