@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="~/Register" method="post">
    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        @foreach (var prop in Model.GetType().GetProperties())
        {
            <p>
                <label>@prop.Name</label>
                <input name="@prop.Name" value="@prop.GetValue(Model)">
            </p>
        }
        <div class="buttons">
            <button>Register</button>
        </div>

    </fieldset>

</form>

<form action="~/Register/Confirm" method="post">
    <fieldset>
        <legend>Confirm</legend>
        <p>
            <label for="id">Key</label>
            <input id="id" name="id" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
</form>

<form action="~/Register/Cancel" method="post">
    <fieldset>
        <legend>Cancel</legend>
        <p>
            <label for="id">Key</label>
            <input id="id" name="id" />
        </p>
        <p class="buttons"><button>Submit</button></p>
    </fieldset>
</form>
