@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    ViewBag.Title = "Index";
}

<h2>Close Account</h2>
<form action="~/CloseAccount" method="post">
    <fieldset>
        <legend>Close Account</legend>
        <p>
            Are you sure you want to close your account?
        </p>
        <div class="buttons">
            <button value="yes" name="button">Yes, Close Account</button>
        </div>
    </fieldset>
</form>
