@model BrockAllen.MembershipReboot.UserAccount

@{
    ViewBag.Title = "FindResult";
}

<h2>FindResult</h2>
@if (Model == null)
{
    <p>Not Found</p>
}
else
{
    using (Html.BeginForm("Reopen", "Home"))
    {
        <input type="hidden" name="id" value="@Model.ID">
        <button>Reopen</button>
    }
    @Html.DisplayForModel()
}
<p>
    @Html.ActionLink("Home", "Index", "Home", new { area = "UserAccount" }, null)
</p>