@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangePasswordFromResetKeyInputModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors")
    @Html.AntiForgeryToken()

    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

       <div class="buttonBgrBlue">
            <button class="blueButton">Change Password</button>
        </div>

    </fieldset>
}